:root{
    --purple-light: rgb(214, 141, 250);
    /* --hover-light: rgb(190, 71, 250); */
    --purple-dark: rgb(188, 0, 235);
    /* --hover-dark: rgb(56, 5, 82); */
}

.font-times-new-roman{
    font-family: 'Times New Roman', Times, serif;
}

.dark{
    color: white;
}

.resume {
    background: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }

*{
    margin: 0;
    padding: 0;
  }
  
  body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Mate SC';
    background-color: var(--purple-light);
    color: black;
    /* background-color: black; */
  }

  body.dark{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Mate SC';
    background-color: var(--purple-dark);
    color: white;
    /* background-color: black; */
  }
  
  body::-webkit-scrollbar{
    display: none;
  }
  
  /* Navbar */
  .navbar{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: 700;
  }
  .dark .navbar{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 700;
  }
  
  .light .home{
    background-color: var(--purple-light);
    height: 100%;
    overflow: hidden;
  }
  .dark .home{
    background-color: var(--purple-dark);
    height: 100%;
    overflow: hidden;
  }
  
  .home .box-cont{
    display: inline-flex;
    width: 95em;
    height: 100%;
    margin-left: -3.3em;
    margin-top: -1.6em;
  }
  
  .home .box-cont:nth-child(even){
    margin-left: -0.7em;
    margin-top: -1.6em;
  }
  
  .light .home .box-cont .box{
    height: 6em;
    width: 5em;
    margin: 0.15em;
    background-color: var(--purple-light);
    -webkit-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    transition: all 2s ease-out;
  }
  .dark .home .box-cont .box{
    height: 6em;
    width: 5em;
    margin: 0.15em;
    background-color: var(--purple-dark);
    -webkit-clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    transition: all 2s ease-out;
  }
  
  .home .box-cont .box:hover{
    transition: 0s;
  }
  .home{
    transition: 0.5s;
  }
  
  .light .home .box-cont .box:hover{    background-color: rgba(255, 255, 255, 0.4); }
  .dark .home .box-cont .box:hover{    background-color: rgba(255, 255, 255, 0.8); }
  
  .home img{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    border: 0em solid black;
    box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.5);
  }
  
  .home .home-text{
    font-weight: 500;
    font-style: italic;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 3em;
  }
  
  .home .home-description{
    position: absolute;
    top: 45%;
    left: 35%;
    width: 30em;
    font-size: 1.5em;
  }
  
  .sec-head{
    font-weight: 700;
  }
  
  #edu ul{
    margin-left: 8em;
  }
  
  #edu ul li::marker{
    font-size: 2em;
  }
  
  #edu .edu-container{
    display: flex;
  }
  
  #edu .edu-container img{
    height: 25em;
    margin-left: 8em;
  }
  
  #skills .card{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: 8em;
    width: 8em;
    padding: 2em;
  }
  
  #skills .card img{
    height: 100%;
    width: 100%;
  }
  
  #skills .card:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.8);
  }
  
  #projects .card{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 100%;
  }
  
  #projects .card img{
    height: 100%;
    width: 100%;
    filter: invert(5%);
  }
  
  #skills .card:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.8);
  }

.footer{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.footer-inp{
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.footer-inp::placeholder{
  color: black;
}

.dark .footer{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.dark .footer-inp{
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.dark .footer-inp::placeholder{
  color: white;
}